<!-- ======= Header ======= -->
<nav class="navbar navbar-expand-md bg-light fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand"
      ><img
        src="https://thumbs.dreamstime.com/b/letter-src-simple-monogram-logo-icon-design-letter-src-simple-monogram-logo-icon-design-initial-logo-vector-illustration-194179435.jpg"
        alt=""
        width="110px"
        height="70px"
    /></a>
    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto gap-lg-5">
        <li class="nav-item">
          <a href="/" class="nav-link active fs-6 fw-bold">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link fs-6 fw-bold">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link fs-6 fw-bold">Menu</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link fs-6 fw-bold">Chefs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link fs-6 fw-bold">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link fs-6 fw-bold">Contact</a>
        </li>
      </ul>
    </div>

    <a href="" class="btn btn-danger rounded-pill px-3">Book A Table</a>
  </div>
</nav>
<!-- End Header -->
