<!-- HERO SECTION -->
<section class="bg-secondary-subtle">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-5">
        <h2 class="hero display-1 fw-medium">
          Enjoy Your Healthy<br />Delicious Food
        </h2>
        <p>
          Sed autem laudantium dolores. Voluptatem itaque ea consequatur
          eveniet. Eum quas beatae cumque eum quaerat.
        </p>
        <a href="" class="btn btn-danger rounded-pill py-2 px-4"
          >Book A Table</a
        >
      </div>
      <div class="col-12 col-lg-5">
        <img
          src="assets/img/hero-img.png"
          alt=""
          class="img-fluid hero-img mb-5"
        />
      </div>
    </div>
  </div>
</section>

<!-- WHY CHOOSE US -->
<section>
  <div class="container mb-5">
    <h2 class="text-center display-3 mt-5 fw-bolder">
      <u>WHY CHOOSE US</u>
    </h2>
    <div class="row cards mt-3 d-flex justify-content-between gy-5">
      <div class="col-12 col-lg-3 ps-4 bg-secondary-subtle">
        <img
          src="assets/img/employee-man-alt.png"
          alt=""
          class="chef"
          width="40px"
          height="40px"
        />
        <h4 class="mt-3 fw-bold">Master Chefs</h4>
        <p>
          Diam elitr kasd sed at elitr sed <br />
          ipsum justo dolor sed clita amet <br />
          diam sed clita amet
        </p>
      </div>
      <div class="col-12 col-lg-3 ps-4 bg-danger">
        <img
          src="assets/img/utensils.png"
          alt=""
          class="utensils"
          width="40px"
          height="40px"
        />
        <h4 class="mt-3 fw-bold">Quality Food</h4>
        <p>
          Diam elitr kasd sed at elitr sed <br />
          ipsum justo dolor sed clita amet <br />
          diam sed clita amet
        </p>
      </div>
      <div class="col-12 col-lg-3 ps-4 bg-dark-subtle">
        <img
          src="assets/img/user-headset.png"
          alt=""
          class="helpline"
          width="40px"
          height="40px"
        />
        <h4 class="mt-3 fw-bold">12hrs Of Service</h4>
        <p>
          Diam elitr kasd sed at elitr sed <br />
          ipsum justo dolor sed clita amet <br />
          diam sed clita amet
        </p>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT US -->
<section class="bg-secondary-subtle contact">
  <div class="container-fluid">
    <div class="row justify-content-between gy-2">
      <div class="col-12 col-lg-5">
        <img
          src="assets/img/IMG_2054.jpeg"
          alt=""
          class="img-fluid mt-5 mb-5"
        />
      </div>
      <div class="col-12 col-lg-5">
        <div class="">
          <form action="" class="">
            <p class="display-4 mt-5">Contact Us</p>
            <input
              type="text"
              placeholder="FirstName"
              class="input_name"
            /><br /><br />

            <input
              type="text"
              placeholder="LastName"
              class="input_name"
            /><br /><br />

            <input
              type="text"
              placeholder="Message"
              class="input_name"
            /><br /><br />
            <button class="btn btn-danger px-4">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
